<div class="app">
  @if (turnService.playerOne.name === '' || turnService.playerTwo.name === '') {
    <div class="player-names">
      <h1>Enter your names</h1>
      <form [formGroup]="playerNameForm">
        <input type="text" placeholder="Player 1 name" formControlName="name1">
        <input type="text" placeholder="Player 2 name" formControlName="name2">
        <button type="submit" (click)="submitNames()">Submit</button>
      </form>
    </div>
  } @else {
    <div class="board">
      @for (row of boardService.board(); track $index; let i = $index) {
        <div class="row">
          @for (cell of row; track $index; let j = $index) {
            <app-square [value]="cell" [row]="i" [col]="j"></app-square>
          }
        </div>
      }
    </div>

    @if ( boardService.winner() !== '') {
      <div class="winner">
        Winner: {{ boardService.winner() }}
      </div>
    } @else if (boardService.boardFull) {
      <div class="winner">
        It's a draw!
      </div>
    } @else {
      <div class="turn">
        Turn: {{ turnService.turn().name }} ({{ turnService.turn().symbol }})
      </div>
    }
    <button (click)="boardService.resetBoard()">Reset</button>
  }
</div>